*.pyc
qt5_mdi_schaltplan_editor_v18.py
*.bak
*.zip
src/qt5_mdi_schaltplan_editor.py
src/qt5_mdi_schaltplan_editor_2.py
src/qt5_mdi_schaltplan_editor_v10.py
src/qt5_mdi_schaltplan_editor_v11.py
src/qt5_mdi_schaltplan_editor_v12.py
src/qt5_mdi_schaltplan_editor_v13.py
src/qt5_mdi_schaltplan_editor_v14.py
src/qt5_mdi_schaltplan_editor_v15.py
src/qt5_mdi_schaltplan_editor_v16.py
src/qt5_mdi_schaltplan_editor_v17.py
src/qt5_mdi_schaltplan_editor_v18_features.py
src/qt5_mdi_schaltplan_editor_v18_features_plus.py
src/qt5_mdi_schaltplan_editor_v18b.py
src/qt5_mdi_schaltplan_editor_v19.py
src/qt5_mdi_schaltplan_editor_v20.py
src/qt5_mdi_schaltplan_editor_v3.py
src/qt5_mdi_schaltplan_editor_v4.py
src/qt5_mdi_schaltplan_editor_v5.py
src/qt5_mdi_schaltplan_editor_v6.py
src/qt5_mdi_schaltplan_editor_v7.py
src/qt5_mdi_schaltplan_editor_v8.py
src/qt5_mdi_schaltplan_editor_v9.py
src/schaltplan.sqlite3
src/start.py
qt5_mdi_schaltplan_editor_workspaces_v2.py
src/qt5_mdi_schaltplan_editor_workspaces.py
src/qt5_mdi_schaltplan_editor_workspaces_extended.py
src/schalt.py/qt5_mdi_schaltplan_editor_workspaces_extended.py
src/svg/README.txt
